fastapi==0.115.0
uvicorn==0.35.0
pydantic==2.9.2
python-multipart==0.0.12
pypdf==4.3.1
jinja2==3.1.4
httpx==0.28.1
cohere==5.5.8
numpy==1.26.4
scikit-learn==1.5.0
python-dotenv==1.0.1
tqdm==4.66.4
langchain==0.2.5
python-docx==1.1.2


xhtml2pdf==0.2.16
